# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
sysinfo.txt

# OS files
.DS_Store
Thumbs.db

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# IDE folders
.vscode/
.idea/

# Keystore
*.keystore

# Sensitive files
*.env
*.zip
*.zip
Dollirun.zip
